
nav(aria-label='breadcrumb').breadcrumbs
	.container
		.row
			.col-sm-10.col-sm-offset-1
				ol.breadcrumb
					li.breadcrumb-item
						a(href='#') Главная
					li.breadcrumb-item.active(aria-current='page') Галерея

