
footer
	.top-side
		.container
			.row
				.col-sm-3
					a(href='#').footer-logo
						img(src='img/logo.svg')
					h5 Государственное агентство связи
						br
						| при Правительстве КР
				.col-md-9
					p При этом, Государственное агентство связи при Правительстве КР, является органом государственного регулирования в
						| области связи и остается институционально и финансово независимым по отношению к операторам связи. Агентство
						| обладает полномочиями по проведению анализа рынка связи в целях недопущения монополистической деятельности,
						| выдачи разрешительных документов на использование радиочастотного спектра, лицензии не деятельность в области
						| электрической, почтовой связи, передачи данных, телерадиовещания, включая проектирование, строительство,
						| установку сетей, линий, сооружений, систем и устройств электрической связи.

					p В этой связи, для обеспечения прозрачности процедур подготовки, принятия управленческих решений и их реализации с
						| учетом интересов общественности, в целях взаимодействия государственных органов с общественностью Указом
						| Президента КР созданы общественные наблюдательные советы (далее-ОНС) при всех государственных органах. Цель ОНС
						| участие граждан в осуществлении общественного контроля за деятельностью органа исполнительной власти,
						| налаживания эффективного взаимодействия с общественностью, учет общественного мнения при формировании и
						| реализации государственной политики.
					span Copyright © 2008–2018
	.bottom-side
		.container
			.row
				.content
					ul.footer-nav
						h6 об агенстве
						li
							a(href='#') Положение
						li
							a(href='#') Структура
						li
							a(href='#') Руководства
						li
							a(href='#') История
						li
							a(href='#') Общая информация
						li
							a(href='#') ГКРЧ
						li
							a(href='#') Наблюдательный совет
						li
							a(href='#') Вакансии
						li
							a(href='#') Тендеры
						li
							a(href='#') Контакты
					ul.footer-nav
						h6 об агенстве
						li
							a(href='#') Цифровое тв
						li
							a(href='#') 3G и беспроводная передача данных
						li
							a(href='#') Телефонно-номерной ресурс
						li
							a(href='#') Новый закон связи
						li
							a(href='#') Персонификация
						li
							a(href='#') Стратегия кибербезопасности
						li
							a(href='#') Гос. сотовый оператор
					ul.footer-nav
						h6 об агенстве
						li
							a(href='#') Лицензирование
						li
							a(href='#') Сертификация
						li
							a(href='#') Разрешение на ввоз
						li
							a(href='#') Радиочастотный спектр
						li
							a(href='#') Приказы о выделении/изъятии ресу...
						li
							a(href='#') Формы отчетности
						li
							a(href='#') Разрешительные документы
						li
							a(href='#') Ежегодные отчеты агентства
					ul.footer-nav
						h6 об агенстве
						li
							a(href='#') Законодательство в сфере связи
						li
							a(href='#') Приказы агентства
						li
							a(href='#') Межсетевое соединение
						li
							a(href='#') Универсальный доступ
					ul.footer-nav
						h6 об агенстве

						li
							i.material-icons
								| location_on
							a(href='#') г. Бишкек, ул. Байтик баатыра, 7-б
						li
							i.material-icons
								| phone
							a(href='#') + 996 (312) 544-103
						li
							i.material-icons
								| phone
							a(href='#') + 996 (312) 544-105
						li
							i.material-icons
								| email
							a(href='#') nta@infotel.kg
			.mitapp
				a(href='#')
					img(src='img/mitapp.svg')
					span Сделанно
						br
						| в MITAPP