
nav.navbar.navbar-default.main-navigation
	.container
		.row
			.navbar-header
				a.navbar-brand.logo(href='#' title='')
					img(src='img/logo.svg' title='')
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			a(href='#').search-btn.pull-right#searchtoggl
				i.material-icons
					| search
				span
			ul.language
				li.active
					a(href='#')
						img(src='img/icons/lang_ru.svg')
				li
					a(href='#')
						img(src='img/icons/lang_kg.svg')
				li
					a(href='#')
						img(src='img/icons/lang_en.svg')
			.clearfix.visible-sm.visible-xs
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav.main-nav
					li.active
						a(href='#' title='')
							i.material-icons
								| home
					li.dropdown
						a.dropdown-toggle(data-toggle='dropdown', href='#')
							| Об агенстве
						ul.dropdown-menu
							li
								a(href='#') Положение
							li
								a(href='#') Структура
							li
								a(href='#') Руководства
							li
								a(href='#') История
							li
								a(href='#') Общая информация
							li
								a(href='#') ГКРЧ
							li
								a(href='#') Наблюдательный совет
							li
								a(href='#') Вакансии
							li
								a(href='#') Тендеры
							li
								a(href='#') Контакты
					li.dropdown
						a.dropdown-toggle(data-toggle='dropdown', href='#')
							| Проекты
						ul.dropdown-menu
							li
								a(href='#') Цифровое тв
							li
								a(href='#') 3G и беспроводная передача данных
							li
								a(href='#') Телефонно-номерной ресурс
							li
								a(href='#') Новый закон связи
							li
								a(href='#') Персонификация
							li
								a(href='#') Стратегия кибербезопасности
							li
								a(href='#') Гос. сотовый оператор
					li.dropdown
						a.dropdown-toggle(data-toggle='dropdown', href='#')
							| деятельность
						ul.dropdown-menu
							li
								a(href='#') Лицензирование
							li
								a(href='#') Сертификация
							li
								a(href='#') Разрешение на ввоз
							li
								a(href='#') Радиочастотный спектр
							li
								a(href='#') Приказы о выделении/изъятии ресу...
							li
								a(href='#') Формы отчетности
							li
								a(href='#') Разрешительные документы
							li
								a(href='#') Ежегодные отчеты агентства
					li.dropdown
						a.dropdown-toggle(data-toggle='dropdown', href='#')
							| нормативная база
						ul.dropdown-menu
							li
								a(href='#') Законодательство в сфере связи
							li
								a(href='#') Приказы агентства
							li
								a(href='#') Межсетевое соединение
							li
								a(href='#') Универсальный доступ
					li
						a(href='#') Галерея
					li
						a(href='#') Форум

#searchbar.clearfix
	.container
		form.navbar-form.navbar-left#searchform(method='get', action='').col-xs-6
			.form-group
				input#s.form-control(type='search', name='s', placeholder='Поиск...', autocomplete='off')
			button#searchsubmit.btn.btn-default(type='submit')
				i.material-icons
					| search
