
section.other-news
	.container
		.row
			h2 Другие новости
			ul.news-list
				li
					a(href='#').img-wrapper
						img(src='img/jpg/press-item.jpg')
						span.tag пресс-релиз
					span.date 15 декабря 2018г, 16:24
					h4
						a(href='#') Арестованного депутата Артыкбаева вновь прооперировали — он в больнице
					a(href='#').read-more Подробнее
						i.material-icons
							| play_circle_filled_white
				li
					a(href='#').img-wrapper
						img(src='img/jpg/press-item.jpg')
						span.tag пресс-релиз
					span.date 15 декабря 2018г, 16:24
					h4
						a(href='#') Арестованного депутата Артыкбаева вновь прооперировали — он в больнице
					a(href='#').read-more Подробнее
						i.material-icons
							| play_circle_filled_white
				li
					a(href='#').img-wrapper
						img(src='img/jpg/press-item.jpg')
						span.tag пресс-релиз
					span.date 15 декабря 2018г, 16:24
					h4
						a(href='#') Арестованного депутата Артыкбаева вновь прооперировали — он в больнице
					a(href='#').read-more Подробнее
						i.material-icons
							| play_circle_filled_white