nav(aria-label='...').paginations
	ul.pagination.pagination-sm
		li.page-item.disabled
			a.page-link(href='#', tabindex='-1') 1
		li.page-item
			a.page-link(href='#') 2
		li.page-item
			a.page-link(href='#') 3
		li.page-item
			a.page-link(href='#') ...