.share
	ul.social
		li
			a(href='#')
				img(src='img/icons/fb.svg')
		li
			a(href='#')
				img(src='img/icons/fb.svg')
		li
			a(href='#')
				img(src='img/icons/fb.svg')
		li
			a(href='#')
				img(src='img/icons/fb.svg')
		li
			a(href='#')
				img(src='img/icons/fb.svg')
		li
			a(href='#')
				img(src='img/icons/fb.svg')