
section.tenders
	.container
		.row
			h1 Тендеры
			ul.tenders-list
				include components/_tender-item.pug
				include components/_tender-item.pug
				include components/_tender-item.pug
				include components/_tender-item.pug
				include components/_tender-item.pug
				include components/_tender-item.pug
				include components/_tender-item.pug
				include components/_tender-item.pug
				include components/_tender-item.pug
			a(href='#').load-more показать еще