
section.tenders.single-tender-content
	.container.posrel
		.row
			include ../../components/_social.pug
			.col-md-5.nopadding.col-md-offset-2.col-sm-7
				h1 Закупка камер
				p Указом Президента Кыргызской Республики от 7 октября 1997 года № 280 образовалось Национальное
					| агентство связи Кыргызской Республики. За период существования НАС претерпело неоднократные
					| преобразования.
				p Результатом последних преобразований связанных с изменением структуры Правительства КР явилось
					| преобразование Национального агентства связи Кыргызской Республики в Государственное агентство
					| связи при Правительстве Кыргызской Республики (далее - агентство), утвержденного Указом
					| Президента Кыргызской Республики от 26 октября 2009 года №425
				h3 Требования
				ul
					li знания основ дизайна: основы живописи и рисунка, колористики (использования цвета) и композиции
					li знания в области графического дизайна: виды и жанры графики и графических техник,йне;
					li умение рисовать от руки;
					li технически грамотная и быстрая работа в основных программах вёрстки;
					li работа с растровыми и векторными графическими редакторами, такими как Photoshop, CorelDraw;
					li способность находить новые идеи, разрабатывать план издания;
					li обладание художественным вкусом;
					li владение ретушью и цветокоррекцией;
					li наличие базовых знаний по допечатной подготовке макетов;
					li опыт работы в рекламе или полиграфии;
					li владение основами дизайна интерьера.
			.col-md-3.nopadding.col-md-offset-1.col-sm-4.col-sm-offset-1
				h5 Крайний срок:
				p 1 апреля 2018г, 16:00
				h5 Город / область:
				p г.Бишкек
				h5 Категория:
				p Электроника
				h5 Опубликовано:
				p 1 декабря 2018г, 12:00
				h5 Приклепленные файлы:
				br
				a(href='/images/myw3schoolsimage.jpg', download='w3logo').download-file
					span
						i.material-icons insert_photo
						| Отчет за 2018г.jpg
					span
						i.material-icons publish
						| скачать
				a(href='/images/myw3schoolsimage.jpg', download='w3logo').download-file
					span
						i.material-icons insert_photo
						| Отчет за 2018г.jpg
					span
						i.material-icons publish
						| скачать

