
section.news-single
	.container.posrel
		.row

			include ../../components/_social.pug

			.news-content
				span.date 15 декабря 2018г, 16:24
				h1 Премьер-министр поручил МВД и ГКНБ выявлять взяточников среди сотрудников ГУОБДД

				#myCarousel1.carousel.slide(data-ride='carousel')
					// Indicators
					ol.carousel-indicators
						li.active(data-target='#myCarousel1', data-slide-to='0')
						li(data-target='#myCarousel1', data-slide-to='1')
						li(data-target='#myCarousel1', data-slide-to='2')
					// Wrapper for slides
					.carousel-inner
						.item.active
							.img-wrapper
								span.tag НОВОСТЬ
								img(src='img/jpg/news-item.jpg')
						.item
							.img-wrapper
								span.tag НОВОСТЬ
								img(src='img/jpg/news-item.jpg')
						.item
							.img-wrapper
								span.tag НОВОСТЬ
								img(src='img/jpg/news-item.jpg')
					// Left and right controls
					a.left.carousel-control(href='#myCarousel1', data-slide='prev')
						i.material-icons
							| chevron_left
					a.right.carousel-control(href='#myCarousel1', data-slide='next')
						i.material-icons
							| chevron_right

				.video
					iframe(width='100%', height='360', src='https://www.youtube.com/embed/tgbNymZ7vqY')


				h6 В июле Артыкбаев был госпитализирован, и ему провели операцию в связи с сердечно-сосудистым
						| заболеванием. До госпитализации ему несколько раз вызывали бригаду скорой медицинской помощи.
				p Артыкбаев обвиняется в коррупции при модернизации ТЭЦ Бишкека. По этому делу арестован и бывший премьер-министр
					| Сапар Исаков. Под стражей находятся также экс-замминистра энергетики и промышленности Айбек Калиев и бывший глава
					| ОАО "Электрические станции" Салайдин Авазов.
				p Артыкбаева госпитализировали 4 декабря в Бишкекский научно-исследовательский центр травматологии и ортопедии (БНИЦТО).
				h6 Прикрепленные файлы
				a(href='/images/myw3schoolsimage.jpg', download='w3logo').download-file.docx
					span
						i.material-icons description
						| Отчет за 2018г.doc
					span
						i.material-icons publish
						| скачать
				a(href='/images/myw3schoolsimage.jpg', download='w3logo').download-file.img
					span
						i.material-icons insert_photo
						| Отчет за 2018г.jpg
					span
						i.material-icons publish
						| скачать

				.lightgallery
					h3 Фототчет
					a(class='gallery-img-wrapper'  data-responsive='img/gallery/13-375.jpg 375, ' +
					'img/gallery/13-480.jpg 480, img/gallery/13.jpg 800', data-src='img/gallery/13-1600.jpg',
					data-sub-html="<h4>Название картины № 1</h4><p>Короткое описание данной картинки (максимальную длину обозначь)</p>")
						img.img-responsive(src='img/gallery/1.jpg')
					a(class='gallery-img-wrapper'  data-responsive='img/gallery/2-375.jpg 375, ' +
					'img/gallery/2-480.jpg 480, img/gallery/2.jpg 800',data-src='img/gallery/2-1600.jpg',
					data-sub-html="<h4>Название картины № 2</h4><p>Короткое описание данной картинки (максимальную длину обозначь)</p>")
						img.img-responsive(src='img/gallery/thumb-2.jpg')
					a(class='gallery-img-wrapper'  data-responsive='img/gallery/13-375.jpg 375, ' +
					'img/gallery/13-480.jpg 480, img/gallery/13.jpg 800', data-src='img/gallery/13-1600.jpg', data-sub-html="<h4>Название картины № 3</h4><p>Короткое описание данной картинки (максимальную длину обозначь)</p>")
						img.img-responsive(src='img/gallery/thumb-13.jpg')
					a(class='gallery-img-wrapper'  data-responsive='img/gallery/4-375.jpg 375, ' +
					'img/gallery/4-480.jpg 480, img/gallery/4.jpg 800', data-src='img/gallery/4-1600.jpg', data-sub-html="<h4>Название картины № 4</h4><p>Короткое описание данной картинки (максимальную длину обозначь)</p>")
						img.img-responsive(src='img/gallery/thumb-4.jpg')
					a(class='gallery-img-wrapper'  data-responsive='img/gallery/1-375.jpg 375, ' +
					'img/gallery/1-480.jpg 480, img/gallery/1.jpg 800', data-src='img/gallery/1-1600.jpg', data-sub-html='<h4>Название картины № 5</h4><p>Короткое описание данной картинки (максимальную длину обозначь)</p>')
						img.img-responsive(src='img/gallery/thumb-1.jpg')
					a(class='gallery-img-wrapper'  data-responsive='img/gallery/2-375.jpg 375, ' +
					'img/gallery/2-480.jpg 480, img/gallery/2.jpg 800', data-src='img/gallery/2-1600.jpg', data-sub-html="<h4>Название картины № 6</h4><p>Короткое описание данной картинки (максимальную длину обозначь)</p>")
						img.img-responsive(src='img/gallery/thumb-2.jpg')
					a(class='gallery-img-wrapper'  data-responsive='img/gallery/13-375.jpg 375, ' +
					'img/gallery/13-480.jpg 480, img/gallery/13.jpg 800', data-src='img/gallery/13-1600.jpg', data-sub-html="<h4>Название картины № 7</h4><p>Короткое описание данной картинки (максимальную длину обозначь)</p>")
						img.img-responsive(src='img/gallery/thumb-13.jpg')
					a(class='gallery-img-wrapper'  data-responsive='img/gallery/4-375.jpg 375, ' +
					'img/gallery/4-480.jpg 480, img/gallery/4.jpg 800', data-src='img/gallery/4-1600.jpg', data-sub-html="<h4>Название картины № 8</h4><p>Короткое описание данной картинки (максимальную длину обозначь)</p>")
						img.img-responsive(src='img/gallery/thumb-4.jpg')
					a(class='gallery-img-wrapper'  data-responsive='img/gallery/1-375.jpg 375, ' +
					'img/gallery/1-480.jpg 480, img/gallery/1.jpg 800', data-src='img/gallery/1-1600.jpg', data-sub-html='<h4>Название картины № 9</h4><p>Короткое описание данной картинки (максимальную длину обозначь)</p>')
						img.img-responsive(src='img/gallery/thumb-1.jpg')
					a(class='gallery-img-wrapper'  data-responsive='img/gallery/2-375.jpg 375, ' +
					'img/gallery/2-480.jpg 480, img/gallery/2.jpg 800', data-src='img/gallery/2-1600.jpg', data-sub-html="<h4>Название картины № 10</h4><p>Короткое описание данной картинки (максимальную длину обозначь)</p>")
						img.img-responsive(src='img/gallery/thumb-2.jpg')
					a(class='gallery-img-wrapper'  data-responsive='img/gallery/13-375.jpg 375, ' +
					'img/gallery/13-480.jpg 480, img/gallery/13.jpg 800', data-src='img/gallery/13-1600.jpg', data-sub-html="<h4>Название картины № 11</h4><p>Короткое описание данной картинки (максимальную длину обозначь)</p>")
						img.img-responsive(src='img/gallery/thumb-13.jpg')
					a(class='gallery-img-wrapper'  data-responsive='img/gallery/4-375.jpg 375, ' +
					'img/gallery/4-480.jpg 480, img/gallery/4.jpg 800', data-src='img/gallery/4-1600.jpg', data-sub-html="<h4>Название картины № 12</h4><p>Короткое описание данной картинки (максимальную длину обозначь)</p>")
						img.img-responsive(src='img/gallery/thumb-4.jpg')

				a(href='#').load-more загрузить еще