
section.forum
	.container
		.row
			aside.col-sm-4
				.auth-reg
					h3 Регистрация/Войти
					form.form-inline(action='')
						.form-group
							input.login.form-control(type='text' placeholder='Логин')
						.form-group
							input.email.form-control(type='email' placeholder='Электронная почта')
						.form-group
							input.pwd.form-control(type='password' placeholder='Пароль')
						.form-group
							input.pwd.form-control(type='password' placeholder='Повторить пароль')
						a(href='#').forgot-pwd Забыли пароль?
						button.btn.btn-default.main-btn(type='submit') создать аккаунт/войти
						a(href='#').auth-reg-link Регистрация/Авторизация
						ul.social
							span Или войти с помощью
							li
								a(href='#')
									img(src='img/icons/fb.svg')
							li
								a(href='#')
									img(src='img/icons/fb.svg')
							li
								a(href='#')
									img(src='img/icons/fb.svg')
							li
								a(href='#')
									img(src='img/icons/fb.svg')
				.profile
					.user-info
						.img-wrapper
							img(src='img/icons/user.svg')
						h6
							span Вы вошли через
								a(href='#') Facebook
							| Айгерим
					ul.user-nav
						li
							a(href='#')
								i.material-icons bookmark
								| Мой профиль
						li
							a(href='#')
								i.material-icons assignment
								| Мои посты
						li
							a(href='#')
								i.material-icons star
								| Избранные
						li
							a(href='#')
								i.material-icons remove_circle
								| Выйти
				a(href='#').main-forum-btn
					i.material-icons add
					| добавить вопрос

			main.col-sm-8
				.forum-header
					ul.forum-nav
						li.active
							a(href='#') Актуальные
						li
							a(href='#') Новое
					.datepicker.input-group.date(data-date-format='mm-dd-yyyy')
						span.input-group-addon
							i.glyphicon.glyphicon-calendar
						input.form-control(type='text', readonly='' placeholder='Выбрать дату')
				.forum-item
					.top
						h2
							a(href='#') Стоит ли нам купить новые радио вышки?
							i.material-icons bookmark_border
						.img-wrapper
							a(href='#')
								img(src='img/jpg/news-item.jpg')
					.bottom
						.views-comments
							.comments
								i.material-icons forum
								| 12
							.views
								i.material-icons visibility
								| 123
						.user
							h5 Алексей
								span 3 дня назад
							.social-icon
								img(src='img/icons/user.svg')
				.forum-item
					.top
						h2
							a(href='#') Стоит ли нам купить новые радио вышки?
							i.material-icons bookmark_border
					.bottom
						.views-comments
							.comments
								i.material-icons forum
								| 12
							.views
								i.material-icons visibility
								| 123
						.user
							h5 Алексей
								span 3 дня назад
							.social-icon
								img(src='img/icons/user.svg')
				.forum-item
					.top
						h2
							a(href='#') Стоит ли нам купить новые радио вышки?
							i.material-icons bookmark_border
						p В июле Артыкбаев был госпитализирован, и ему провели операцию в связи с сердечно-сосудистым
							| заболеванием. До госпитализации ему несколько раз вызывали бригаду скорой медицинской
							| помощи...
					.bottom
						.views-comments
							.comments
								i.material-icons forum
								| 12
							.views
								i.material-icons visibility
								| 123
						.user
							h5 Алексей
								span 3 дня назад
							.social-icon
								img(src='img/icons/user.svg')
				.forum-item.inner
					.top
						h1
							| Стоит ли нам купить новые радио вышки?
							i.material-icons bookmark_border
						.img-wrapper
							img(src='img/jpg/news-item.jpg')
					.bottom
						.views-comments
							.comments
								i.material-icons forum
								| 12
							.views
								i.material-icons visibility
								| 123
						.user
							h5 Алексей
								span 3 дня назад
							.social-icon
								img(src='img/icons/user.svg')
					.forum-item-content
						p В июле Артыкбаев был госпитализирован, и ему провели операцию в связи с сердечно-сосудистым заболеванием. До
							| госпитализации ему несколько раз вызывали бригаду скорой медицинской помощи.
						p Артыкбаев обвиняется в коррупции при модернизации ТЭЦ Бишкека. По этому делу арестован и бывший премьер-министр
							| Сапар Исаков. Под стражей находятся также экс-замминистра энергетики и промышленности Айбек Калиев и бывший
							| глава ОАО "Электрические станции" Салайдин Авазов.
						p Артыкбаева госпитализировали 4 декабря в Бишкекский научно-исследовательский центр травматологии и ортопедии (БНИЦТО).
							| В детстве я не любил новогодние утренники, потому что праздничные песни казались мне нудными и заунывными. Да и
							| советской и российской эстрадой я мало интересовался — по жизни получилось так, что мне больше нравились
							| западная рок-музыка и джаз. Но все-таки через всю жизнь со мной прошли несколько новогодних мотивчиков, которые
							| всегда вспоминаются с особой теплотой.
				.comment-area
					h3 Комментировать
					.img-wrapper
						img(src='img/icons/user.svg')
					textarea
				ul.comment-list
					li






