section.news
	.container
		.row
			.news-header.clearfix
				h1.col-sm-9 Галерея
				.col-sm-3
					.datepicker.input-group.date(data-date-format='mm-dd-yyyy')
						span.input-group-addon
							i.glyphicon.glyphicon-calendar
						input.form-control(type='text', readonly='')

			ul.news-list
				include ../index/components/_news-item.pug
				include ../index/components/_news-item.pug
				include ../index/components/_news-item.pug
				include ../index/components/_news-item.pug
				include ../index/components/_news-item.pug
				include ../index/components/_news-item.pug
				include ../index/components/_news-item.pug
				include ../index/components/_news-item.pug
				include ../index/components/_news-item.pug
			include ../../components/_pagination.pug


