doctype
html(lang='en-gb', dir='ltr')
	head
		include assets/_metas.pug
		include assets/_links.pug
	body
		include components/_header.pug
		.content-wrapper
			include components/_breadcrumbs.pug
			include pages/news-single/_news-single.pug
			include components/_other-news.pug
		include components/_footer.pug
		include assets/_scripts.pug
		script(src='https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js')
		script(src='js/lightgallery.js')
		script(type='text/javascript').
			$(document).ready(function () {
				$('.lightgallery').lightGallery({
					thumbnail: true,
					animateThumb: true,
					showThumbByDefault: true,
					share: false
				});
			});