doctype
html(lang='en-gb', dir='ltr')
	head
		include assets/_metas.pug
		include assets/_links.pug
	body
		include components/_header.pug
		.content-wrapper
			include components/_breadcrumbs.pug
			include pages/text/_text.pug
			include pages/index/_buttons.pug
		include components/_footer.pug
		include assets/_scripts.pug
