.container
	.row
		ul.buttons
			li
				a(href='#')
					i.material-icons
						| gavel
					| Онлайн Аукцион
			li
				a(href='#')
					i.material-icons
						| question_answer
					| Форум
			li
				a(href='#')
					i.material-icons
						| notification_important
					| Тендеры
			li
				a(href='#')
					i.material-icons
						| perm_phone_msg
					| Связаться с нами