section.main-carousel
	.container
		.row
			#myCarousel.carousel.slide(data-ride='carousel')
				.col-sm-8
					.row
						// Wrapper for slides
						.carousel-inner
							.item.active
								.content
									.caption
										span.date 15 декабря 2018г, 16:24
										h2 Премьер-министр поручил МВД и ГКНБ выявлять взяточников среди сотрудников ГУОБДД
									a(href='#').img-wrapper
										span.tag.top НОВОСТЬ
										img(src='img/jpg/news-item.jpg', alt='')
							.item
								.content
									.caption
										span.date 15 декабря 2018г, 16:24
										h2 Премьер-министр поручил МВД и ГКНБ выявлять взяточников среди сотрудников ГУОБДД
									a(href='#').img-wrapper
										span.tag.top НОВОСТЬ
										img(src='img/jpg/news-item.jpg', alt='')
							.item
								.content
									.caption
										span.date 15 декабря 2018г, 16:24
										h2 Премьер-министр поручил МВД и ГКНБ выявлять взяточников среди сотрудников ГУОБДД
									a(href='#').img-wrapper
										span.tag.top НОВОСТЬ
										img(src='img/jpg/news-item.jpg', alt='')
							.item
								.content
									.caption
										span.date 15 декабря 2018г, 16:24
										h2 Премьер-министр поручил МВД и ГКНБ выявлять взяточников среди сотрудников ГУОБДД
									a(href='#').img-wrapper
										span.tag.top НОВОСТЬ
										img(src='img/jpg/news-item.jpg', alt='')
				.col-sm-4
					.row
						// Indicators
						ol.carousel-indicators
							li.active(data-target='#myCarousel', data-slide-to='0')
								span.date 15 декабря 2018г, 16:24
								h3 Премьер-министр поручил МВД и ГКНБ выявлять взяточников среди сотрудников ГУОБДД
							li(data-target='#myCarousel', data-slide-to='1')
								span.date 15 декабря 2018г, 16:24
								h3 Премьер-министр поручил МВД и ГКНБ выявлять взяточников среди сотрудников ГУОБДД
							li(data-target='#myCarousel', data-slide-to='2')
								span.date 15 декабря 2018г, 16:24
								h3 Премьер-министр поручил МВД и ГКНБ выявлять взяточников среди сотрудников ГУОБДД
							li(data-target='#myCarousel', data-slide-to='3')
								span.date 15 декабря 2018г, 16:24
								h3 Премьер-министр поручил МВД и ГКНБ выявлять взяточников среди сотрудников ГУОБДД
	include _buttons