section.press
	.container
		.row
			h1 Пресс-релизы
			ul.news-list
				include components/_news-item
				include components/_news-item
				include components/_news-item
				include components/_news-item
				include components/_news-item
				include components/_news-item
			a(href='#').load-more смотреть все