li
	.top
		a(href='#').img-wrapper
			img(src='img/jpg/tender.jpg')
		span.date 15 декабря 2018г, 16:24
		h2
			a(href='#') Закупка камер
	.bottom
		div
			p Категория:
				span Электроника
			p Крайний срок:
				span 1 апреля, 14:00 2018г
		p
			i.material-icons location_on
			| Месторасположение:
			span Бишкек