//- Файл библиотек
script(src='js/libs.js')
script(src='js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js')
//- Основной файл сценариев

script(src="js/common.js")