// reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, *
	margin: 0
	padding: 0
	border: 0
	outline: 0
	box-shadow: none
	vertical-align: baseline
	box-sizing: border-box
ol, ul
	list-style: none
table
	border-collapse: collapse
	border-spacing: 0

input, button, textarea, button
	outline: 0
	box-shadow: none
	&:focus
		box-shadow: none
		outline: 0 !important

// links
a
	transition: all 0.3s
	outline: 0
	text-decoration: none
	color: #0C59D3
	&:hover, &:focus
		background: none
		outline: 0 !important
		color: #0C59D3
