
section.bank
	.container.posrel
		.row
			include ../../components/_social.pug
			.col-md-8.col-md-offset-2.nopadding
				h1 Банковские реквизиты
				p Государственное агентство связи при ГКИТиС Кыргызской Республики
				p Получатель: ГАС при ГКИТиС КР
					br
					| Банк получателя:Центральное казначейство МФ КР
					br
					| БИК 440001
				p Расчетный счет
					b 402031001001623
				hr
				h3 Код платежей
				ol
					li Плата за выдачу лицензий
						span 14221100
					li Плата за выдачу частотного присвоения на использование РЧС
						span 14221100
					li Продление частотного присвоения на использование РЧС
						span 14221100
					li Плата за выдачу лицензий
						span 14221100
					li Плата за выдачу частотного присвоения на использование РЧС
						span 14221100
					li Продление частотного присвоения на использование РЧС
						span 14221100
					li Плата за выдачу лицензий
						span 14221100
				hr
				h3 Плата за сертификацию средств связи
				p Получатель: Государственное агентство связи при ГКИТиС КР
					br
					| БИК:440001
					br
					| Банк получателя: Центральное Казначейство
					br
					| Код платежа: 14234100
				p Расчетный счет
					b 402031001001623

section.contacts
	.container.posrel
		.row
			.col-md-5.col-md-offset-2
				h1 Контакты
				p
					b Адрес:
					| г. Бишкек, ул. Байтик баатыра, 7-б.
				p
					b Телефоны:
					| + 996 (312) 544-103
				p
					b Электронная почта:
					| nta@infotel.kg
				p
					b Факс:
					| + 996 (312) 544-105
				hr
				p
					b ИНН:
					| 2607201610037, 720005
				p
					b Расчетный счет:
					| 4402031001001623
				p
					b БИК:
					| 440001
				p
					b Банк:
					| Центральное Казначейство МФ КР
				p
					b ОКПО:
					| 29414320
				p
					b УГНС:
					| 001
				p
					b Рег № СФ:
					| 04-00675-02
			.col-md-3
				br
				br
				br
				a(href='#')
					i.material-icons room
					| Google Map
				a(href='#')
					i.material-icons mail
					| Написать сообщения

			.col-md-8.col-md-offset-2.nopadding
				hr
				h3 Код платежей
				ol
					li Плата за выдачу лицензий
						span 14221100
					li Плата за выдачу частотного присвоения на использование РЧС
						span 14221100
					li Продление частотного присвоения на использование РЧС
						span 14221100
					li Плата за выдачу лицензий
						span 14221100
					li Плата за выдачу частотного присвоения на использование РЧС
						span 14221100
					li Продление частотного присвоения на использование РЧС
						span 14221100
					li Плата за выдачу лицензий
						span 14221100









