
section.text
	.container.posrel
		.row
			include ../../components/_social.pug
			.col-sm-8.nopadding.col-sm-offset-2
				h1 Любой заголовок h1
				h2 Любой заголовок h2
				h3 Любой заголовок h3
				h4 Любой заголовок h4
				h5 Любой заголовок h5
				h6 Любой заголовок h6
				p Указом Президента Кыргызской Республики от 7 октября 1997 года № 280 образовалось Национальное
					| агентство связи Кыргызской Республики. За период существования НАС претерпело неоднократные
					| преобразования.
				p Результатом последних преобразований связанных с изменением структуры Правительства КР явилось
					| преобразование Национального агентства связи Кыргызской Республики в Государственное агентство
					| связи при Правительстве Кыргызской Республики (далее - агентство), утвержденного Указом
					| Президента Кыргызской Республики от 26 октября 2009 года №425.
				p Агентство, являясь органом регулирования в отрасли связи, оказывает непосредственное влияние на
					| развитие рынка связи при помощи таких рычагов как: лицензирование в сфере связи, сертификация
					| средств и услуг связи, радиочастотный менеджмент, государственный надзор за качеством услуг
					| связи, регулирование цен на услуги связи и др.
				p Необходимо отметить, что в последнее время особенно динамично развиваются услуги, связанные с
					| использованием радиочастотного спектра. Для Кыргызстана, имеющего горную территорию,
					| использование радиочастотного ресурса является важной и эффективной составляющей развития,
					| обеспечивающей экономичность и высокие темпы развертывания телекоммуникационной инфраструктуры в
					| таких важных сегментах, как радиовещание, подвижная и фиксированная связь. Поэтому обеспечение
					| телекоммуникационного сектора необходимым радиочастотным ресурсом, имеющим международное
					| признание и, соответственно, международную правовую защиту, является важной государственной
					| задачей.
				p 7 октября 2012 года Государственному агентству связи при Правительстве Кыргызской Республики
					| исполняется 15 лет со дня придания статуса Национального.
				p Согласно архивным данным Центрального государственного архива Кыргызской Республики хронология
					| истоков по годам,
					b выглядит следующим образом:

				a(href='/images/myw3schoolsimage.jpg', download='w3logo').download-file
					span
						i.material-icons insert_photo
						| Отчет за 2018г.jpg
					span
						i.material-icons publish
						| скачать
				a(href='/images/myw3schoolsimage.jpg', download='w3logo').download-file
					span
						i.material-icons insert_photo
						| Отчет за 2018г.jpg
					span
						i.material-icons publish
						| скачать
				a(href='/images/myw3schoolsimage.jpg', download='w3logo').download-file
					span
						i.material-icons insert_photo
						| Отчет за 2018г.jpg
					span
						i.material-icons publish
						| скачать
				.date-container
					h5 Выбрать дату
					.datepicker-container
						.datepicker.input-group.date(data-date-format='mm-dd-yyyy')
							span.input-group-addon
								i.glyphicon.glyphicon-calendar
							input.form-control(type='text', readonly='' placeholder='Выбрать дату')
						.datepicker.input-group.date(data-date-format='mm-dd-yyyy')
							span.input-group-addon
								i.glyphicon.glyphicon-calendar
							input.form-control(type='text', readonly='' placeholder='Выбрать дату')
						button.btn.btn-default Показать
				#vacancy.panel-group
					.panel
						.panel-heading
							h4.panel-title
								span.date 15 декабря 2018г, 16:24
								a.accordion-toggle(href='#panelBodyOne', data-toggle='collapse',
								data-parent='#vacancy') Установщик радио вышек
									i.material-icons.add add_circle_outline
									i.material-icons.remove remove_circle_outline
								label З/П:  при собеседования
						#panelBodyOne.panel-collapse.collapse.in
							.panel-body
								p Обязанности:
								ul
									li работа с клиентами
									li изготовление и утверждение макетов
									li подготовка файлов для цифровой печати
								p Требования:
								ul
									li знания основ дизайна: основы живописи и рисунка, колористики (использования цвета) и композиции
									li знания в области графического дизайна: виды и жанры графики и графических техник,йне;
									li умение рисовать от руки;
									li технически грамотная и быстрая работа в основных программах вёрстки;
									li работа с растровыми и векторными графическими редакторами, такими как Photoshop, CorelDraw;
									li способность находить новые идеи, разрабатывать план издания;
									li обладание художественным вкусом;
									li владение ретушью и цветокоррекцией;
									li наличие базовых знаний по допечатной подготовке макетов;
									li опыт работы в рекламе или полиграфии;
									li владение основами дизайна интерьера.
								p Условия:
								span Не указаны
								p Контакты:
								span Номер: +996 (700) 677 655
									br
									| E-mail:
									a(href='#') gas@gmail.com
					.panel
						.panel-heading
							h4.panel-title
								span.date 15 декабря 2018г, 16:24
								a.accordion-toggle.collapsed(href='#panelBodyTwo', data-toggle='collapse',
data-parent='#vacancy') Установщик радио вышек
									i.material-icons.add add_circle_outline
									i.material-icons.remove remove_circle_outline
								label З/П:  при собеседования
						#panelBodyTwo.panel-collapse.collapse
							.panel-body
								p Обязанности:
								ul
									li работа с клиентами
									li изготовление и утверждение макетов
									li подготовка файлов для цифровой печати
								p Требования:
								ul
									li знания основ дизайна: основы живописи и рисунка, колористики (использования цвета) и композиции
									li знания в области графического дизайна: виды и жанры графики и графических техник,йне;
									li умение рисовать от руки;
									li технически грамотная и быстрая работа в основных программах вёрстки;
									li работа с растровыми и векторными графическими редакторами, такими как Photoshop, CorelDraw;
									li способность находить новые идеи, разрабатывать план издания;
									li обладание художественным вкусом;
									li владение ретушью и цветокоррекцией;
									li наличие базовых знаний по допечатной подготовке макетов;
									li опыт работы в рекламе или полиграфии;
									li владение основами дизайна интерьера.
								p Условия:
								span Не указаны
								p Контакты:
								span Номер: +996 (700) 677 655
									br
									| E-mail:
									a(href='#') gas@gmail.com
					.panel
						.panel-heading
							h4.panel-title
								span.date 15 декабря 2018г, 16:24
								a.accordion-toggle.collapsed(href='#panelBodyThree', data-toggle='collapse',
data-parent='#vacancy') Установщик радио вышек
									i.material-icons.add add_circle_outline
									i.material-icons.remove remove_circle_outline
								label З/П:  при собеседования
						#panelBodyThree.panel-collapse.collapse
							.panel-body
								p Обязанности:
								ul
									li работа с клиентами
									li изготовление и утверждение макетов
									li подготовка файлов для цифровой печати
								p Требования:
								ul
									li знания основ дизайна: основы живописи и рисунка, колористики (использования цвета) и композиции
									li знания в области графического дизайна: виды и жанры графики и графических техник,йне;
									li умение рисовать от руки;
									li технически грамотная и быстрая работа в основных программах вёрстки;
									li работа с растровыми и векторными графическими редакторами, такими как Photoshop, CorelDraw;
									li способность находить новые идеи, разрабатывать план издания;
									li обладание художественным вкусом;
									li владение ретушью и цветокоррекцией;
									li наличие базовых знаний по допечатной подготовке макетов;
									li опыт работы в рекламе или полиграфии;
									li владение основами дизайна интерьера.
								p Условия:
								span Не указаны
								p Контакты:
								span Номер: +996 (700) 677 655
									br
									| E-mail:
									a(href='#') gas@gmail.com
